@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  font-family: "Quicksand", sans-serif;
}
.text-input textarea {
  height: 250px;
  width: 100%;
  outline: none;
  font-size: 16px;
  resize: none;
  background: none;
}
.control,
li,
.icons,
.icons i {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.control {
  list-style: none;
  padding: 10px 15px;
}
.control .row .icons {
  width: 35%;
}
.control .row .icons i {
  width: 50px;
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.2s ease;
  justify-content: center;
}
.control .row.from .icons {
  padding-right: 10px;
  border-right: 1px solid #ccc;
}
.control .row.to .icons {
  padding-left: 10px;
  border-left: 1px solid #ccc;
}
.control .row select {
  color: black;
  border: none;
  outline: none;
  font-size: 18px;
  background: none;
  padding-left: 5px;
}
.text-input textarea ::-webkit-scrollbar {
  width: 4px;
}
.control .row select ::-webkit-scrollbar {
  width: 8px;
}
.text-input textarea ::-webkit-scrollbar-track,
.control .row select ::-webkit-scrollbar-track {
  background: #fff;
}
.text-input textarea ::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 8px;
}
.control .row select ::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 8px;
  border-right: 2px solid;
}

.control .exchange {
  color: #ddd;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s ease;
}
.control i :active {
  transform: scale(0.9);
}

.text-input ::placeholder {
  padding-left: 2px;
}

@media (max-width: 600px) {
  .induk {
    padding: 20px;
  }
  .wrapper .text-input {
    flex-direction: column;
  }
  .text-input .to-text {
    border-left: 0;
    border-top: 1px solid #ccc;
  }
  .text-input textarea {
    height: 200px;
  }
  .control .row .icons {
    display: none;
  }
  .induk button {
    padding: 13px;
    font-size: 16px;
  }
  .control .row select {
    font-size: 16px;
  }
  .control .exchange {
    font-size: 14px;
  }
}
